@color-tan: #f1a257;
@color-yellow: #f6c342;
@color-medium-yellow: #ffe9a8;

@bright-blue-2: #3b7fc4;

@pale-blue: #ebf2f9;
@light-pale-blue: #effaff;
@medium-grey: #707070;
@ash-grey: #ccc;
@grey: #999999;
@blue: #205081;
@white: #fff;
@text-black: #333;

@bg-sidebar-item-action: #cbe3fb;

body {
  background: #fff;
  min-width: 910px;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, STHeiti, sans-serif;
}

.aui-lozenge-error.aui-lozenge-subtle {
  color: #d06837;
}

@-webkit-keyframes notifying {
  0% {
	opacity: 0.3;
  }
  100% {
	opacity: 1;
  }
}

@-moz-keyframes notifying {
  0% {
	opacity: 0.3;
  }
  100% {
	opacity: 1;
  }
}

@keyframes notifying {
  0% {
	opacity: 0.3;
  }
  100% {
	opacity: 1;
  }
}

input[type=text], textarea {
  box-shadow: inset 0 1px 3px #cccccc;
  border: 1px #ccc solid;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  &:focus {
	border-color: #999;
  }
}

#sidebar img, #main-list img {
  display: inline-block;
  margin: 5px 10px;
  max-width: 300px;
  max-height: 300px;
  border: 1px #ccc solid;
  border-radius: 2px;
}

#sidebar img {
  max-width: 300px;
  max-height: 40px;
}

.embedded-link {
  cursor: pointer;
  .item-id {
	color: #777;
  }

  &:hover {
	.item-id {
	  color: #333;
	}
  }
}

.inner-link, .list-item-link {
  cursor: pointer;
}

.action-icon {
  color: #999;
  cursor: pointer;
  font-size: 16px;
  &:hover {
	color: #333;
  }
}

ul {
  padding: 0;
  li {
	list-style: none;
  }
}

.text-box {
  > span {
	position: absolute;
	top: 13px;
	left: 14px;
	color: #999;
  }

  input.text {
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px #ccc solid;
	outline: none;
	font-size: 14px;
	box-shadow: inset 0 1px 3px #ccc;
	-moz-box-sizing: border-box;
	padding: 3px 5px 3px 22px;
	&:focus {
	  border: 1px #999 solid;
	}
  }
}

.vex {
  .text {
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px #cccccc solid;
	outline: none;
	font-size: 14px;
	box-shadow: inset 0 1px 3px #cccccc;
	-moz-box-sizing: border-box;
	padding: 3px 5px;
	&:focus {
	  border-color: #999;
	}
  }

  .primary-button {
	background: @bright-blue-2;
	color: @white;
  }
}

.vex.create-list.vex-theme-wireframe {
  .vex-content {
	width: 700px;
	.row {
	  padding: 10px;
	  &.align-right {
		text-align: right;
	  }
	}

	.move-children {
	  cursor: pointer;
	  text-align: left;
	  .fa {
		width: 15px;
	  }
	  .fa-check-square-o {
		display: none;
	  }
	  &.selected {
		.fa-check-square-o {
		  display: inline-block;
		}
		.fa-square-o {
		  display: none;
		}
	  }
	}

	.title {
	  padding: 0 0 20px;
	  font-size: 1.5em;
	}
  }
}

.vex.vex-theme-wireframe.list-dialog {
  padding-top: 80px;
  overflow-y: scroll;
  .vex-content {
	width: 720px;
	padding: 20px;
	.hint {
	  float: right;
	  font-size: 11px;
	  margin-right: 10px;
	  color: #999;
	}

	.add-as-dict {
	  padding: 0 0 5px 5px;

	  cursor: pointer;
	  .fa {
		width: 15px;
	  }
	  .fa-check-square-o {
		display: none
	  }
	  &.selected {
		.fa-check-square-o {
		  display: inline-block
		}
		.fa-square-o {
		  display: none
		}
	  }
	}

	li[data-list-fav=true] {
	  background: #fff9db;
	}

	.search-list {
	  width: 100%;
	  box-sizing: border-box;
	  border-radius: 3px;
	  border: 1px #cccccc solid;
	  outline: none;
	  font-size: 14px;
	  box-shadow: inset 0 1px 3px #cccccc;
	  -moz-box-sizing: border-box;
	  padding: 3px 5px;

	  &:focus {
		border-color: #999;
	  }
	}

	.title {
	  margin-right: 10px;
	}

	li {
	  font-size: 16px;
	  line-height: 22px;
	  position: relative;
	  cursor: pointer;
	  &.selected {
		background: @pale-blue;
	  }

	  &:hover {
		background: @light-pale-blue;
	  }

	  a {
		color: @text-black;
		text-decoration: none;
		padding: 5px 10px;
		display: block;
	  }

	  .aui-lozenge {
		vertical-align: middle;
		position: absolute;
		right: 10px;
		top: 5px;
	  }

	  .new-tab {
		opacity: 0.2;
		transition: opacity 300ms;
		&:hover {
		  opacity: 1;
		}
	  }
	}
  }
}

#page {

  #sidebar .search-box {
	> input {
	  font-size: 12px;
	  line-height: 14px;
	  width: ~"calc(100% - 45px)";
	  padding: 0 5px;
	  height: 20px;
	}

	.save-search {
	  margin-left: 5px;
	  cursor: pointer;
	}

  }

  #sidebar {
	.search-box, .saved-search {
	  ul {
		font-size: 14px;
		padding: 10px 4px;
	  }
	}
  }

  .saved-search {
	.saved-search-title {
	  width: 100%;
	  padding: 0 15px;

	  > span {
		width: ~"calc(100% - 130px)";
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: middle;
		cursor: pointer;

		&:hover {
		  text-decoration: underline;
		}
	  }

	  > a {
		vertical-align: middle;
		cursor: pointer;
		font-size: 12px;
	  }
	}
  }

  .aui-lozenge {
	text-transform: none;
  }

  .search-box, .saved-search {
	position: relative;
	z-index: 220;
	padding: 10px;

	.result-div {
	  display: none;
	  margin: 0;
	  background: #fff;
	  padding: 2px 0;
	  border-radius: 2px;
	  border: 1px #ccc solid;
	  margin-top: 5px;
	  max-height: 40vh;
	  overflow-y: auto;
	  position: relative;
	  ul {
		position: relative;
	  }

	  li {
		list-style: none;
		padding: 2px 5px;
		.descr {
		  margin-right: 5px;
		}
	  }

	  li.selected {
		background: @pale-blue;
	  }

	  li.empty {
		font-style: italic;
		background: none;
		color: @text-black;
	  }
	}
  }

  .saved-search {
	.result-div {
	  display: block;
	  max-height: 250px;
	}
  }

  #list-title {
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 20px;
	cursor: text;
	font-size: 32px;
	padding-left: 5px;

	.title-edit-icon {
	  line-height: 45px;
	  display: none;
	  color: #999999;
	  margin-left: 10px;
	  position: absolute;
	  margin-top: -5px;
	  cursor: pointer;

	  &:before {
		font-size: 20px;
	  }
	}

	&:hover {
	  .title-edit-icon {
		display: inline-block;
	  }
	}
  }

  #list-title-edit {
	box-sizing: border-box;
	margin-left: 15px;
	-moz-box-sizing: border-box;
	width: 80%;
	padding-right: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
	display: none;

	input {
	  font-size: 28px;
	  padding: 3px 5px;
	  box-sizing: border-box;
	  width: 100%;
	}

	.actions {
	  position: absolute;
	  right: 0;
	  top: 10px;
	  span {
		cursor: pointer;
	  }
	}
  }

  .items {
	padding: 0 10px 400px 20px;
	.empty-list > .item {
	  color: #999;
	  font-style: italic;

	  #tag-input {
		font-style: normal;
	  }

	  #context-menu-trigger {
		display: none;
	  }
	}

	ul {
	  padding: 0;
	  margin: 0;
	}

	ul.children {
	  padding-left: 48px;
	  border-left: 1px #efefef solid;
	  margin: 0;
	  margin-left: -16px;
	  width: 600px;

	  &:hover {
		border-left-color: #ddd;
	  }
	}

	li.hovered > .item, .item.edit-mode {
	  background-color: #f5f5f5;
	  border: 1px #ccc solid;
	}

	li.parent-hovered > .item {
	  background-color: #f5f5f5;
	}

	li.selected > .item {
	  background-color: #fffdf6;
	  border-color: #f1a257;
	  color: #815b3a;
	}

	li.hovered.selected > .item, li.parent-hovered.selected > .item {
	  background-color: #ffe9a8;
	  color: #815b3a;
	}

	li.parent-hovered.selected > .item {
	  border-color: #ffe9a8;
	}

	li.hovered.selected > .item {
	  border-color: #815b3a;
	}

	li .edit {
	  padding-right: 20px;
	  position: relative;
	  textarea {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 40px;
		border-radius: 3px;
		border: 1px #ccc solid;
		outline: none;
		resize: vertical;
		&:focus {
		  border-color: #999;
		}
	  }

	  .buttons {
		position: absolute;
		width: 16px;
		top: 0;
		right: 0;
		.fa-times {
		  margin-left: 2px;
		}
	  }
	}
  }

  .items, .result-div {
	h1, h2, h3, h4 {
	  display: inline;
	  font-size: 16px;
	  font-weight: bold;
	  color: #444;
	}

	.status {
	  -moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;
	  user-select: none;

	}

	.running {
	  display: none;
	  margin-right: 5px;
	  color: @grey;
	  -webkit-animation: notifying 2s infinite alternate;
	  -moz-animation: notifying 2s infinite alternate;
	  -o-animation: notifying 2s infinite alternate;
	  animation: notifying 2s infinite alternate;
	}

	.indexed {
	  color: #ffb000;
	  margin-right: 5px;
	  display: none;
	}

	[indexed=true] > .item {
	  .indexed {
		display: inline-block;
		position: absolute;
		top: 7px;
	  }

	  .body {
		padding-left: 20px;
		box-sizing: border-box;
	  }
	}

	li {
	  padding-right: 300px;
	  list-style: none;

	  > .item {
		position: relative;
		padding: 3px 8px 3px;
		border-radius: 2px;
		border: 1px rgba(255, 255, 255, 0) solid;
		margin-bottom: 5px;
		font-size: 14px;

		li {
		  // 解决 li 在 item 内容中撑开
		  padding-right: 0;
		}
		&:hover {
		  background: @light-pale-blue;
		}

		.body {
		  display: inline-block;
		  overflow-x: auto;
		  width: 100%;
		  vertical-align: middle;
		}

		.aui-lozenge {
		  vertical-align: middle;
		}

		&.edit-mode {
		  .body {
			display: none;
		  }

		  .edit {
			display: block;
		  }
		}

		.edit {
		  display: none;
		}

		.collapsed {
		  display: none;
		  cursor: pointer;
		}

		.expanded {
		  display: inline-block;
		  cursor: pointer;
		}
	  }

	  > .item .twix {
		position: absolute;
		left: -20px;
	  }

	  > .item .edit {
		margin-top: 10px;
	  }

	  > .item {
		&.flash-background {
		  background-color: @color-medium-yellow;
		}
	  }
	}

	li {
	  .twix {
		color: #444;
		.item-dot {
		  display: none;
		  color: #aaa;
		}
	  }
	}
	li.no-child {
	  > .item .status {
		.twix {
		  .collapsed, .expanded {
			display: none;
		  }

		  .item-dot {
			display: inline-block;
		  }
		}
	  }
	}

	li.is-collapsed {
	  > .item {
		.collapsed {
		  display: inline-block;
		}

		.expanded {
		  display: none;
		}
	  }

	  > .children {
		display: none;
	  }
	}

  }

  .result-div li > .item {
	.status {
	  display: none;
	}

	.body {
	  overflow: hidden;
	}
  }

  #content {
	margin-left: 282px;
	padding: 60px 0 20px 30px;
	> .header {
	  position: fixed;
	  left: 0px;
	  top: 0;
	  right: 0;
	  background: rgb(242, 244, 244);
	  z-index: 800;
	  height: 40px;
	  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

	  min-width: 910px;

	  > .primary {
		font-size: 21px;
		float: left;
		margin-top: 5px;
		margin-left: 15px;
		font-weight: bold;
		color: #393d42;
		display: block;

		sup {
		  font-size: 12px;

		  .inner {
			color: #7fa6ce;
			transition: color 400ms;
		  }
		}

		&:hover {
		  text-decoration: none;
		  .inner {
			color: @bright-blue-2;
		  }
		}
	  }

	  > .secondary {
		position: absolute;
		right: 0;
		margin-top: 5px;
		.menu-button {
		  padding: 5px 8px;
		  display: inline-block;
		  background: @bright-blue-2;
		  color: #fff;
		  border-radius: 3px;
		  margin-right: 8px;
		  cursor: pointer;
		  opacity: 0.8;

		  transition: all 300ms;

		  &:hover {
			opacity: 1;
			background: @bright-blue-2;
			text-decoration: none;
		  }
		}

		.menu-button.active {
		  background: @blue;
		}

		.is-syncing, .is-resolving {
		  background: @grey;
		  cursor: default;
		  text-decoration: none;
		}
	  }

	  .share-type {
		// just hide before dev completes
		//        display: none;

		margin-right: 10px;
		cursor: pointer;
		position: relative;
		display: inline-block;
		height: 30px;
		z-index: 200;

		&.disabled {
		  color: #999;
		  cursor: default;
		  > .fa {
			visibility: hidden;
		  }
		}

		> .fa {
		  margin: 0 4px;
		}

		> .dropdown-container {
		  cursor: default;
		  position: absolute;
		  background: @white;
		  padding: 10px;
		  border: 1px #ccc solid;
		  border-radius: 2px;
		  right: -100px;
		  top: 30px;
		  display: none;

		  li {
			margin: 10px;
			white-space: nowrap;
			text-align: left;
			cursor: pointer;

			.title, .descr {
			  display: inline-block;
			}

			.title {
			  width: 140px;
			}

			.descr {
			  color: @medium-grey;
			}

			.fa {
			  margin-right: 8px;
			  visibility: hidden;
			}

			&:hover {
			  .fa {
				visibility: visible;
				opacity: 0.7;
			  }
			}

			&.selected {
			  .fa {
				visibility: visible;
			  }
			}

			+ li {
			  margin-top: 10px;
			}
		  }
		}

		&.show-dropdown {
		  .dropdown-container {
			display: block;
		  }
		}
	  }
	}

	#tag-input {
	  position: absolute;
	  border: 1px #ccc solid;
	  padding: 8px 10px;
	  border-radius: 3px;
	  background: #fff;
	  z-index: 200;
	  left: 20px;

	  width: 400px;

	  .replace-tag {
		display: none;
	  }

	  .replace-tag, .remove-tag {
		font-size: 11px;
		padding: 0 4px 0 0;
		vertical-align: 1px;
		text-decoration: underline;
		color: #707070;
		cursor: pointer;
		&:hover {
		  color: #333;
		}
	  }

	  .filter {
		padding-bottom: 5px;
		input {
		  padding: 3px 5px;
		  width: 100%;
		  height: 20px;
		  line-height: 14px;
		  font-size: 12px;
		}

	  }

	}

	.result-div {
	  max-width: 55vw;
	  overflow-x: hidden;

	  #context-menu-trigger {
		display: none;
	  }
	}

	#help-box-wrapper {
	  position: fixed;
	  width: 260px;
	  right: 15px;
	  top: 50px;
	  z-index: 200;
	  > #help-box {
		border: 1px #ccc solid;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		background-color: #fff;
		border-radius: 3px;
		padding: 10px;
		max-height: 85vh;
		overflow: auto;
		position: absolute;
		right: 0;
		width: 180px;
		height: 60px;
		overflow: hidden;
		opacity: 0.5;
		transition: width 200ms, height 200ms, opacity 200ms;
		h2 {
		  margin-top: 20px;
		}

		.help-content {
		  padding: 0 5px;
		}

		.help-item {
		  margin: 5px 0;
		}

		ul {
		  padding: 0;
		  li {
			list-style: none;
			overflow: hidden;
			display: inline-block;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
		  }
		}
	  }

	  > #help-box.focused {
		width: 380px;
		height: 85vh;
		opacity: 1;
		overflow: auto;
	  }
	}

	&.focus-mode {
	  .item {
		opacity: 0.15;
	  }

	  li.hovered {
		> .item {
		  opacity: 1;
		}
	  }

	  li.parent-hovered {
		> .item {
		  opacity: 0.5;
		}
	  }

	  li.focus .item {
		opacity: 1;
	  }
	}
  }

  // task tag styling
  .is-task {
	.fa {
	  vertical-align: middle;
	  margin-right: 4px;
	  position: relative;
	  color: #777;
	}

	.fa-check-square-o, .fa-square-o, .fa-minus-square-o, .fa-pause-circle-o, .fa-play-circle-o {
	  &:before {
		position: relative;
		z-index: 20;
	  }

	  &:after {
		content: ' ';
		position: absolute;
		background: #fff;
		width: 11px;
		height: 11px;
		left: 0;
		top: 1px;

		border-radius: 2px;
		z-index: 10;
	  }
	}

	.fa-pause-circle-o, .fa-play-circle-o {
	  vertical-align: 0;
	  &:after {
		border-radius: 4px;
	  }
	}

	.fa-question {
	  vertical-align: 0;
	}
  }

  &.colored-task-input {
	span.fa.fa-minus-square-o {
	  color: #777;
	}
	span.fa.fa-play-circle-o {
	  color: #4a6785;
	}
	span.fa.fa-pause-circle-o {
	  color: #815b3a;
	}
	span.fa.fa-square-o {
	  color: #d06837;
	}
	span.fa.fa-check-square-o {
	  color: #14892c;
	}
  }
}

.highlight {
  background: #f6c342;
}

.aui-dropdown2 {
  z-index: 999;
}

#context-menu-wrapper {
  display: none;
}

.context-menu {
  margin-top: 5px;

  span {
	display: block;
  }

  .hint {
	font-size: 0.8em;
	vertical-align: top;
	line-height: 20px;
	margin-left: 20px;
	color: #999;
	float: right;
	text-align: right;
  }

  .text {
	float: left;
  }

  .last {
	clear: both;
  }

  .active {
	.hint {
	  color: #ccc;
	}
  }
}

#context-menu-trigger {
  position: absolute;
  opacity: 0.2;
  cursor: pointer;
  z-index: 50;
  background: #fff;
  border: 1px #ccc solid;
  bottom: -28px;
  right: 0;
  padding: 3px 6px;
  border-radius: 2px;

  .item:hover & {
	opacity: 1;
  }

  > span {
	margin-right: 5px;
	text-indent: -9999px;
	position: relative;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	opacity: 0.5;
	line-height: 1.2;

	&:hover {
	  opacity: 1;
	}

	&:before {
	  text-indent: 0;
	  left: 0;
	  position: absolute;
	}

	&.fa-flash:before {
	  left: 5px;
	}
  }
}

.aui-dropdown2 {
  margin-bottom: 40px;
  a {
	cursor: pointer;
  }
}

.edit-mode.item #context-menu-trigger {
  display: none;
}

.dropdown-trigger {
  position: relative;
  padding-right: 25px ! important;
}

.dropdown-trigger:after {
  border: 4px solid transparent;
  border-top-color: #fff;
  content: "";
  height: 0;
  margin-left: -18px;
  margin-top: -2px;
  opacity: .8;
  left: 100%;
  position: absolute;
  text-indent: -99999px;
  top: 50%;
  width: 0;
}

#screen-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8000;

  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden {
	display: none;
  }

  .mask {
	background: #fff;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  }

  .loading {
	position: relative;
	text-align: center;

	img {
	  max-height: 220px;
	  border-radius: 20%;
	  margin-left: 30px;
	}

	.message {
	  margin-top: 50px;
	  font-size: 26px;
	  position: relative;
	  max-width: 50vw;

	  color: #333;

	  em {
		white-space: nowrap;
	  }

	  span.title {
		line-height: 20px;
	  }

	  span.quote {
		font-size: 120px;
		line-height: 20px;
		color: #999;
		vertical-align: middle;
	  }

	  span.quote:last-child {
		margin-top: 60px;
		position: absolute;
		margin-left: 9px;
	  }
	}
  }
}

.shortcut:after {
  content: " ";
}

.aui-lozenge > span:hover {
  opacity: 0.8;
}

.aui-lozenge {
  text-transform: none;
  cursor: pointer;
  position: relative;
  margin: 2px 0;
  font-size: 13px;
  font-weight: normal;

  > span.g {
	opacity: 0.35;
	font-size: 0.8em;
  }

  ins {
	background: @color-medium-yellow;
	color: @text-black;
	text-decoration: none;
  }
}

#tag-area, #tag-input {
  .aui-lozenge {
	> span > span {
	  opacity: 0.5;
	  font-size: 1em;
	}
  }
}

#tag-input .aui-lozenge {
  > span.g {
	opacity: 0.9;
	font-size: 0.95em;
  }
}

.item .body > span.aui-lozenge,
#tag-input .tag-defs span.aui-lozenge {
  padding: 2px 4px;
}

.item .body > span.aui-lozenge.aui-lozenge-subtle,
#tag-input .tag-defs span.aui-lozenge.aui-lozenge-subtle {
  border-radius: 3px 3px 0 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 2px 4px;
}

#tag-input .aui-lozenge {
  margin: 2px 2px;
}

.tag-def-label .aui-lozenge {
  border-color: #555;
  background: #fdfdfd;
  margin-right: 13px;

  &.aui-lozenge-success {
	background-color: #14892c;
	border-color: #14892c;
	color: #fff
  }
  &.aui-lozenge-success.aui-lozenge-subtle {
	background-color: #fff;
	border-color: #60b070;
	color: #14892c
  }

  &.aui-lozenge-error {
	background-color: #d04437;
	border-color: #d04437;
	color: #fff
  }
  &.aui-lozenge-error.aui-lozenge-subtle {
	background-color: #fff;
	border-color: #e8a29b;
	color: #d04437
  }

  &.aui-lozenge-current {
	background-color: #ffd351;
	border-color: #ffd351;
	color: #594300
  }
  &.aui-lozenge-current.aui-lozenge-subtle {
	background-color: #fff;
	border-color: #ffe9a8;
	color: #594300
  }

  &.aui-lozenge-complete {
	background-color: #4a6785;
	border-color: #4a6785;
	color: #fff
  }
  &.aui-lozenge-complete.aui-lozenge-subtle {
	background-color: #fff;
	border-color: #a5b3c2;
	color: #4a6785
  }

  &.aui-lozenge-moved {
	background-color: #815b3a;
	border-color: #815b3a;
	color: #fff
  }
  &.aui-lozenge-moved.aui-lozenge-subtle {
	background-color: #fff;
	border-color: #c0ad9d;
	color: #815b3a
  }

  &:after {
	content: ' = ';
	position: absolute;
	margin-left: 10px;
	color: #333;
  }
}

.items #tag-input {
  h4 {
	padding: 0 10px 5px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	.self {
	  color: #999;
	  font-weight: normal;
	  margin-right: 8px;
	}
  }

  li {
	padding: 5px 8px;
	cursor: pointer;

	&:hover {
	  background: #f5f5f5;
	}
  }

  li > a {
	color: @text-black;
	line-height: 18px;

	&:hover {
	  text-decoration: none;
	}
  }

  .tag-defs {
	margin: 0 -3px 10px -8px;
	max-height: 180px;
	overflow: auto;
	padding: 5px 8px;
  }

  .aui-lozenge:hover {
	opacity: 1;
  }
}

.field {
  @color-learnig-field: #FFFDBb;
  background-color: @color-learnig-field;
  color: @text-black;

  &:hover {
	text-decoration: none;
  }

  &.hidden-field {
	color: @color-learnig-field;
  }
}

#tag-area {
  .aui-lozenge {
	font-size: 11px;

	.shortcut {
	  display: none;
	}
  }
}

#page #content #tag-input.hovered-on-tag {
  margin-top: 3px;
  text-align: left;
  opacity: 1;
  margin-left: -30px;
  font-weight: normal;

  .replace-tag {
	display: inline;
  }

  .filter {
	display: none;
  }
}

#hidden-zone {
  display: none;
}

.vex.vex-theme-wireframe.prompt-dialog {
  .vex-content {
	width: 420px;
  }

  .descr {
	padding-bottom: 10px;
  }

  .value {
	width: 350px;
	height: 120px;
  }
}

body.splitter-moving {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  user-select: none;
}

#sidebar {
  h4 {
	padding: 0 10px;

	.actions {
	  position: absolute;
	  top: 0;
	  right: 13px;

	  a {
		cursor: pointer;
	  }
	}
  }
}

// ------------ review channel ------------------

.review-channels {
  margin-bottom: 10px;
  font-size: 12px;

  .channel {
	padding: 0 8px;
	background: #e0e0e0;
	border-radius: 2px;

	cursor: pointer;
	line-height: 1.8;
	display: inline-block;

	margin-top: 5px;

	&.selected {
	  background: #999;
	  color: #fff;
	}
  }
}

input.channel-search {
  width: 100px;
  padding: 0 8px;
  font-size: 12px;
}

.channel-result {
  width: 200px;
  position: absolute;
  background: #fff;
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 2px;
  margin-top: 2px;

  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  z-index: 900;

  .search-result {
	.text {
	  cursor: pointer;

	  &:hover {
		text-decoration: underline;
	  }
	}

	.remove {
	  cursor: pointer;
	  position: absolute;
	  right: 8px;
	  margin-top: 2px;
	}
  }
}

@import './sub-content.less';
@import './doc-toggler.less';
@import './sidebar-search-list.less';
@import './markdown-style.less';
@import '../js/lib/highlight/styles/default.css';
@import './markdown-page.less';
@import './page-actions.less';
@import './file-upload.less';
@import './tutorial.less';
@import './bookmark-scheduler.less';
@import './help-panel.less';
@import './slides-v2.less';
