#file-dropping-zone {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 20000;

  background: rgba(255,255,255,0.7);

  .inner {
	border: 5px #ccc solid;

	border-style: dashed;

	padding: 80px;

	font-size: 26px;
  }


}

[data-file-over="true"] #file-dropping-zone {
  display: flex;
}
