#help-panel {
  position: fixed;
  bottom: 20px;
  right: 30px;
  text-align: right;

  z-index: 1000;

  // 快速帮助列表
  #help-content-outer {
	background: #fff;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 3px;
	margin-bottom: 2px;

	position: relative;

	display: none;
  }

  #help-detail {
	position: absolute;
	left: -485px;
	bottom: 0;

	width: 480px;
	text-align: left;

	background: #fff;
	padding: 25px;
	box-sizing: border-box;
	border: 1px #ccc solid;
	border-radius: 3px;

	height: 75vh;
	overflow-y: auto;

	display: none;

	.shortcuts {
	  margin-bottom: 20px;

	  label {
		margin-right: 8px;
		margin-left: 2px;
	  }
	  label, .aui-lozenge {
		vertical-align: middle;
	  }
	}

	p {
	  margin: 8px 0;
	}

	video {
	  width: 100%;
	  margin: 8px 0;
	  border: 1px #999 solid;

	  border-radius: 2px;
	}
  }

  #help-content-wrapper {
	max-height: 65vh;
	overflow-y: auto;
  }

  #help-content {
	th {
	  background: #f5f5f5;
	  text-align: center;
	  padding: 4px 10px;
	}

	th.title {
	  color: #555;
	  font-size: 16px;
	  background: transparent;
	  text-align: left;
	  padding: 15px 8px 0;
	}

	tbody tr.help-item {
	  cursor: default;

	  &:hover {
		background: @pale-blue;
	  }
	}

	td {
	  text-align: left;
	  padding: 0 8px;
	  white-space: nowrap;

	  &:nth-child(2), &:nth-child(3) {
		text-align: right;
	  }

	  &[data-count="0"] {
		color: #f1b7aa;
	  }
	}
  }

  // 快速帮助面板触发器
  input {
	box-shadow: inset 0 1px 3px #cccccc;
	border: 1px #ccc solid;
	outline: none;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 12px;
	line-height: 18px;

	width: 200px;

	padding: 2px 4px;
	&:focus {
	  border-color: #999;
	}
  }

  #help-trigger {
	background: #fff;
	border: 1px #ccc solid;
	padding: 8px 10px;
	border-radius: 3px;
	display: inline-block;
  }

  // shortcuts lozenge
  .aui-lozenge ~ .aui-lozenge {
	margin-left: 19px;

	&:before {
	  content: 'or';
	  position: absolute;
	  left: -17px;
	  color: #999;
	}
  }
}

#calculate-task-info {
  cursor: pointer;
  margin: 0 0 0 5px;
}
