@user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.view {
  @init-width: 750px;
  position: absolute;
  background: #fff;
  border: 1px #707070 solid;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0,0,0,0.4) 1px 1px 2px;
  margin-bottom: 80px;

  .object-content {
    padding-bottom: 400px;
  }

//  object view
  .block {
    .block {
      border-left: 1px #eee solid;
      padding-left: 20px;
    }
    .block:hover {
      border-left: 1px #999 solid;
    }
  }

  .block {
    display: none;
  }
  .block.active {
    display: block;
  }

  .value {
    white-space: nowrap;
  }
  label {
    min-width: 20px;
    display: inline-block;
  }
  .not-resolved {
    color: #eaa;
  }
  .value input,
  .block input {
    padding: 5px;
    border-radius: 3px;
    border: 1px #ccc solid;
  }
  input.function-args,
  textarea.function-content,
  textarea.long-text {
    min-width: 550px;
    width: 550px;
    padding: 5px;
    display: block;
  }
  textarea.function-content,
  textarea.long-text {
    border: 1px solid #ccc;
    border-radius: 3px;
    max-height: 60vh;
    font-family: monospace;
    font-size: 12px;
    width: 95%
  }
  textarea.function-content {
    margin-top: 5px;
  }
  textarea.long-text {
    height: 90px;
  }

  input.key {
    width: 120px;
    margin-left: 5px;
  }
  input.basic-value {
    width: 200px;
    margin-left: 5px;
  }
  .field ~ .field {
    margin-top: 10px;
  }
  .value ~.block {
    margin-top: 10px;
  }

  .handle-background {
    background: #eee;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    z-index: 10;
  }

//  field actions
  .actions {
    margin-left: 5px;
    span.fa {
      color: #333;
      opacity: 0.05;
      cursor: pointer;
      display: none;
      margin-left: 4px;
    }

    span.fa.remove {
      display: inline-block;
    }
  }

  .field {
    &[field-type=my-object] > .value {
      .open {
        display: inline-block
      }
      .specify {
        display: inline-block
      }
      .create {
        display: inline-block
      }
    }

    &[field-type=function] > .value {
      .execute {
        display: inline-block
      }
    }

    &[field-type=string] > .value {
      .switch {
        display: inline-block
      }
    }
  }


  .field .value:hover {
    .actions {
      span.fa {
        opacity: 1;
      }
    }
  }

  .handle {
    background: #eee;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: @init-width + 40;
    position: relative;
    z-index: 20;
    @user-select-none;

    .title {
      width: ~"calc(100% - 30px)";
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      font-size: 14px;
      vertical-align: middle;
    }

    .close {
      color: #999;
      position: absolute;
      top: 6px;
      right: 8px;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }

  .content-wrapper {
    overflow: hidden;
    width: @init-width + 40;
    height: 80vh;
    position: relative;

    .content {
      padding: 10px 20px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: auto;
    }

    .results {
      width: 100%;
      margin-top: 10px;

      th, td {
        padding: 5px 10px;
        text-align: left;
      }

      tr.meta.found {
        background: #D1FFE4;
      }

      .meta {
        td {
          white-space: nowrap;
        }

        td.alias, td.name, td.id {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .shortcut {
        width: 1px;
      }

      tr.meta {
        background: #f5f5f5;
      }

      tr.descr td {
        border-bottom: 1px #eee solid;
        font-style: italic;
      }

      tbody {
        tr.meta:hover {
          background: #eee;
        }
      }

      tr.descr {
        font-size: 14px;
      }
    }
  }

  .search {
    white-space: nowrap;

    .text.alias, .text.name {
      width: 28%;
    }
    .text.space {
      width: 40%;
    }
  }

  .more {
    white-space: nowrap;
    padding: 10px 0 10px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;

    .disabled {
      color: #999;
      cursor: default;
    }

    span {
      cursor: pointer;
      text-decoration: underline;
    }
    span ~ span {
      margin-left: 20px;
    }
  }
}

.text {
  padding: 5px;
  border-radius: 2px;
  border: 1px #ccc solid;
  box-sizing: border-box;
}

.small-spinner {
  background: url(/img/spinner.gif);
  display: inline-block;
  margin-top: -3px;
  margin-left: 5px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.hidden {
  display: none !important;
}