@blue: #205081;
@light-blue: #3b7fc4;
@pale-blue: #ebf2f9;
@cool-blue: #84bbc6;
@ash-grey: #cccccc;
@light-grey: #f5f5f5;
@silver: #e9e9e9;
@medium-grey: #707070;
@bright-pink: #f15c75;
@red: #d04437;

body {
    background-color: #fff;
    padding-bottom: 10px;
}

.progress {
    padding: 10px;
    text-align: center;
    .title {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto;
        color: @medium-grey;
    }
    .text {
        font-size: 32px;
    }

    .times-up {
        color: @red;
    }

    .progress-bar {
        width: 80%;
        height: 12px;
        border: @blue 2px solid;
        display: block;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        &.unit-time {
            height: 3px;
            border: none;
            background: @silver;

            .complete {
                background: @cool-blue;

            }
        }

        .complete {
            height: 100%;
            background: @blue;
        }
    }

}

.progress.progress-bottom {
  .progress-bar {
    height: 6px;
    border-width: 1px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 9000;
    background: @white;
  }
}

.actions {
    > .row  * {
        vertical-align: middle;
    }


    label {
        font-weight: bold;
        display: inline-block;
        width: 160px;
        text-align: right;
        margin: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .links {
        display: inline-block;
        .aui-button {
            padding: 0;
            height: 24px;
        }
    }

  > .row:hover  {
      background: @light-grey;
    }
}

#graph {
    padding: 10px 20px 10px 100px;
    position: relative;

    .item {
        height: 30px;
        min-height: 10px;
        position: relative;

        .block {
            width: 30px;
            left: 2px;
            top: 2px;
            bottom: 2px;
            background-color: #3b7fc4;
            position: absolute;
            border-radius: 2px;
            box-shadow: 0 0 2px rgba(0,0,0,0.5);
            transition: opacity 200ms;
            cursor: pointer;
        }

        .block:hover {
            opacity: 0.7;
        }

        .block.rest {
            background-color: #E8F8F5 !important;
            border: 2px #84bbc6 solid;
            border-color: #84bbc6 !important;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .block.cancel {
            background-color: #fff !important;
            border-width: 2px;
            border-style: solid;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .text {
            left: 44px;
            bottom: 3px;
            top: 3px;
            overflow: hidden;
            right: 8px;
            color: #707070;
            line-height: 1.4;
            vertical-align: text-top;
            position: absolute;
            white-space: nowrap;
          text-overflow: ellipsis;
        }
        z-index: 200;

    }

    .empty {
        position: relative;
        z-index: 200;
    }

    .marker {
        position: absolute;
        left: -80px;

        .line {
            width: 70px;
            height: 1px;
            background: #999;
            position: absolute;
            top: 0;
        }

        .clock {
            font-size: 26px;
        }

        &.half {
            font-size: 12px;
            color: #707070;
            left: -60px;
            .line {
                width: 50px;
                background: #ccc;
            }
        }
    }

    .time-separator {
        width: 60px;
        position: absolute;
        top: 10px;
        bottom: 10px;
        background-color: #f5f5f5;
        left: 57px;
    }
}

.tipsy-left {
    text-align: left;
}

.task-actions, .quick-tasks {
  label {
    color: #999;
  }
}
