
.slides-v2 {
  @ratio: 1600 / 900;
  @content-ratio: 1050 / 800;

  @height: 800px;
  @width: @height * @ratio;

  @content-height: @height;
  @content-width: @content-height * @content-ratio;

  @grid: 10px;
  @aside-margin: @grid;

  overflow: hidden;

  * {
	box-sizing: border-box;
  }

  #slides-outer {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
  }

  .slides-wrapper {
	width: @width;
	height: @height;

	max-width: @width;
	max-height: @height;

	font-size: 4*@grid;

	position: relative;

	opacity: 0;
	//transition: opacity 500ms;

	// @test 临时做参考线
	//border: 2px #ccc solid;
  }

  .slides-content {
	position: absolute;
	right: 0;

	height: @content-height;
	width: @content-width;

	// @test
	//border: 1px #ccc solid;

	transition: top 500ms;

	&.no-animation {
	  transition: none;
	}
  }

  .slide {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;

	margin-bottom: 4*@grid;

	position: relative;

	opacity: 0.15;
	transition: opacity 500ms;

	&.current-slide {
	  opacity: 1;
	}
  }

  .slide-inner {
	max-height: 100%;
	max-width: 100%;
	padding: 3*@grid 6*@grid;
  }

  .slides-map {
	position: absolute;
	width: @width - @content-width - @aside-margin;
	height: @height;

	overflow: hidden;

	left: 0;

	font-size: 4*@grid;

	border: 1px #ccc solid;
	border-radius: 0.5*@grid;
	padding: 1.8*@grid 2.2*@grid;

	box-shadow: 0 0 0.4*@grid rgba(0, 0, 0, 0.2);
	z-index: 100;
	background: #fff;

	transition: width 500ms, left 800ms;

	&:hover {
	  left: 5*@grid;
	  width: @width - @content-width - @aside-margin + 30*@grid;
	  overflow-y: auto;

	  .item {
		opacity: 1;
	  }
	}

	.item {
	  margin: @grid 0;
	  white-space: nowrap;

	  cursor: pointer;

	  opacity: 0.1;
	  transition: opacity 400ms;

	  &.visited {
		opacity: 1;
	  }

	  &:hover {
		color: #999;
	  }
	}

	> .item-wrapper {
	  > .item {
		color: #42b983;
		font-size: 2*@grid;

		opacity: 1;

		&.current {
		  color: #ff7c72;
		}
		&:hover {
		  color: #999;
		}
	  }

	  > .children > .item-wrapper > .item {
		color: #333;
		font-size: 1.8*@grid;

		&.current {
		  color: #ff7c72;
		}
		&:hover {
		  color: #999;
		}
	  }
	}

	.current {
	  color: #ff7c72;
	}

	.children {
	  padding-left: 2*@grid;
	  font-size: 1.6*@grid;
	  color: #666;
	}
  }

  // 内容元素的 style 控制
  .aui-lozenge {
	font-size: inherit;
	border: 0;
  }

  pre {
	border: 1px #ccc solid;
	font-size: 2.4*@grid;
	padding: 3*@grid;
	border-radius: 0.5*@grid;

	overflow-x: auto;

	min-width: @content-width * 0.8;
	max-width: @content-width;
  }

  h1 {
	font-size: 6.4*@grid;
	margin: 20px 0 20px;
  }

  h2 {
	font-size: 5.8*@grid;
  }

  h3, h4, h5 {
	font-size: 5*@grid;
  }

  c, fixw, fixc, mc, md, back, text {
	display: block;
  }

  c {
	text-align: center;
  }

  img {
	border: 1px #666 solid;
	box-shadow: 0 0 @grid rgba(0, 0, 0, 0.3);
	border-radius: 0.3*@grid;

	max-width: @content-width * 0.9;
	max-height: @content-height * 0.9;
  }

  fixw img {
	width: @content-width * 0.9;
	max-height: none;
  }

  fixh img {
	height: @content-height * 0.8;
	width: auto;
	max-width: none;
  }

  video {
	width: @content-width * 0.9;
	height: @content-height * 0.8;
  }

  p ~ p, img, video, pre {
	margin-top: 2*@grid;
  }

  mc {
	display: flex;
	align-items: center;
	justify-content: center;
  }

  md {
	display: flex;
	align-items: flex-end;
	justify-content: center;

	text {
	  padding-bottom: 5*@grid;
	}
  }

  mc, md {
	img {
	  width: @content-width * 0.9;
	  height: auto;
	  max-height: none;
	}

	fixw img {
	  width: @content-width * 0.9;
	  max-height: none;
	}

	fixh img {
	  height: @content-height * 0.8;
	  width: auto;
	  max-width: none;
	}

	text {
	  position: absolute;
	  font-size: 4.5*@grid;
	}

	text {
	  color: #fff;
	  display: inline-block;
	  text-shadow: 0 0 @grid rgba(0, 0, 0, 0.5)
	}
  }

  ul ul li, ol ul li {
	list-style: circle;
  }

  ul li {
	display: list-item;
	list-style: disc;
	width: 100%;
  }

  ol li {
	list-style: decimal;
	width: 100%;
  }

  ul, ol {
	ul, ol {
	  border-left: 1px #f5f5f5 solid;
	  margin: 5px 0;
	  padding-left: 3em;
	  margin-left: -1em
	}

	margin: 1em 0 1em 2em;
	padding: 0;
  }

  .embedded-image-link {
	display: inline-block;
  }

  .tag-def-label .aui-lozenge {
	margin-right: 3*@grid;
  }
}

slidestyle {
  display: block;
  border-radius: 3px;
  padding: 8px;
  white-space: pre-wrap;
  border: 1px #ccc solid;
  background: #fff;

  margin-top: 8px;
  margin-bottom: 4px;

  &:before {
	content: 'Slide style : ';
	display: block;
	font-weight: bold;
  }
}
