
#sub-content {
  position: fixed;

  top: 38px;
  right: 0;

  height: ~"calc(100vh - 40px)";
  width: 48vw;

  border: 1px solid #ccc;

  background: #fff;
  z-index: 700;

  right: -50vw;
  transition: all 300ms;
  display: block;
  opacity: 0.9;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.sub-content-opened {
  #sub-content {
	right: 0px;
  }
}

#page.sub-content-opened .items ul.children {
  width: ~"calc(600px + 50vw)";
}

.sub-content-focus {
  #sub-content {
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	opacity: 1;
	width: 65vw;
  }
}

#sidebar {
  display: none;
}

.header {
  display: none;
}

#page .items li > .item {
  width: 750px;
  transition: width 220ms;
}

#page.without-iframe {
  #sidebar {
	display: block;
  }

  .header {
	display: block;
  }
}

#page.within-iframe {
  #content {
	margin-left: 0 !important;
	padding-top: 20px;
  }

  .items li > .item {
	width: 500px;
  }
}

#close-sub-content {
  display: none;
}

#page.without-iframe.sub-content-opened {
  #close-sub-content {
	display: block;
	position: fixed;
	top: 60px;
	right: 20px;
	padding: 10px;
	background: rgba(0,0,0,0.05);
	width: 20px;
	height: 20px;

	border-radius: 3px;
	transition: all 300ms;

	cursor: pointer;

	z-index: 10000;

	.fa {
	  position: relative;
	  top: 0;
	  left: 5px;
	  transition: all 300ms;
	  color: rgba(0,0,0,0.8);
	}

	&:hover {
	  border-radius: 50%;
	  background: rgba(0,0,0,0.2);

	  .fa {
		color: rgba(0,0,0,1);
		font-size: 20px;
		left: 2px;
	  }
	}
  }

  .items li > .item {
	width: 500px;
  }
}
